.signup-page {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    color: var(--primary-color);

    video {
        z-index: -10;
        position:fixed;
        width:100vw;
        top:0;
        left:0;
        right:0;
        bottom:0;
        object-fit:cover;
        height:100vh;
    }

    
    .signup-form {
        display:flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: rgb(49, 49, 49);
        align-items: center;
        justify-content: center;
        padding:2rem;

        .signup-textfields {
         display: flex;
         flex-direction: column;
         gap:2vh;
         
         .name-container {
            display: flex;
            flex-direction: row;
            gap:2vw;
         }

         .password-container {
            display: flex;
            flex-direction: row;
            gap:2vw;
         }

         .profile-image-container {
            display: flex;
            flex-direction: row;
            gap: 1vw;
         }

         input {
            height:5vh;
            border-radius: 5px;
            border:none;
            text-align: center;
            }

         input:focus {
            outline: none !important;
            border:3px solid var(--primary-color);
            }   
        }

        button {
            background-color: var(--primary-color);
            color:white;
            border: none;
            height:50px;
            width:200px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 2rem;
            
        }

        button:hover {
            background-color: rgb(74, 146, 122);
        }
    }
}