.Messages-page-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    color:white;

    .chats-col {
        display: flex;
        flex-direction: column;

        .chats-col-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(70, 68, 68);
            padding:0 15px 0 15px;
            
            button {
                border: none;
                background-color: transparent;
                color: white;
              
            }

            button:hover {
                color: var(--primary-color);
                cursor:pointer;
                transform: scale(1.2)
            }

        }

        .chats-col-search {
            display:flex;
            flex-direction: row;
            
            input {
                width:100%;
                border-radius: 10px;
                height:30px;
                text-align: center;
            }
            
        }
        
    }
}