.Messages-page-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    color:white;

    .chats-col {
        display: flex;
        flex-direction: column;

        .chats-col-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: gray;
            padding:0 15px 0 15px;
            
            button {
                border: none;
                background-color: gray;
                color: white;
            }

            button:hover {
                color: var(--primary-color);
                cursor:pointer
            }

        }

        .chats-col-search {
            display:flex;
            flex-direction: row;
            
            input {
                width:100%;
                border-radius: 10px;
                height:30px;
                text-align: center;
            }
            
        }

        .chats-preview {
            display:flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-top: 2vh;
            gap:1vw;
            

            h4 {
                display:flex;
                padding:0;
                margin:0;
            }

            p {
                font-size: 12px;
                width:20vw;
                
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        
    }
}