.login-container {
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height:50vh;
    color:var(--primary-color);

    .login-form form{
        padding:15px 5px 30px 5px;
        width:20vw;
        display:flex;
        flex-direction: column;
        background-color: #434747;
        align-items: center;
        justify-content: center;
        gap:3vh;
        border-radius: 5px;

        input {
            width:18vw;
            border-radius: 5px;
            border: 1px solid rgb(161, 160, 160);
            height:40px;
            padding-left: 15px;
            background-color: #434747;
            color:white;
        }

        input::placeholder {
            color:rgb(167, 167, 167);
        }

        input:focus {
            outline: none !important;
            border:3px solid var(--primary-color);
        }
    }

    a {
        text-decoration: none;
        color:rgb(95, 194, 161);
    }

    a:hover {
        color: rgb(74, 146, 122);
    }

    button {
        background-color: var(--primary-color);
        color:white;
        border: none;
        height:40px;
        width:100px;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: rgb(74, 146, 122);
    }
}