.post-container {
    margin-top: 5vh;
    background-color: #434747;
    display:flex;
    flex-direction: row;
    position:relative;
    width:40vw;
    border-radius: 5px;
    padding:20px;
    color:white;


    .post-elements  {
        display:flex;
        
        padding:2rem;


        .post-text {
            word-wrap: break-word;
            white-space: pre-wrap;
            word-break: break-word;
            color:white;
            font-size: 22px;
        }

        .feed-textarea {
            background-color: #434747;
            border: none;
            resize:none;
            overflow:auto;
            width: 40vw;
            color:white;
        }
    }

    .delete-button {
        display:inline-block;
        background-color: red;
        color:white;
        border-radius: 4px;
        border: none;
        position:absolute;
        top:0;
        right:0;
        height:3vh;
        cursor: pointer;

    }

    .edit-button {
        background-color: rgb(95, 194, 161);
        color:white;
        border:none;
        border-radius: 5px;
        height:3vh;
        position:absolute;
        top:0px;
        right:8vw;
        cursor: pointer;
    }
}