.post-container {
    display:grid;
    grid-template-rows: 0.5fr 0.3fr 1fr;
    margin-top: 5vh;
    background-color: rgb(49, 49, 49);
    width:45vw;
    border-radius: 5px;
    padding:15px;
    color:white;

    

    .post-header {
        display:grid;
        grid-template-columns: 1fr 1fr;

        .post-header-first-col {
            display: flex;

            .comment-user-ts {
                display:flex;
                flex-direction: column;
            }

        }

        .post-header-second-col {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap:2vw;
            height:25px;
        }

    }

    .post-content {
        color:white;
    }

    .post-footer {
        
        .like-dislike-reply-bar {
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            justify-content: space-around;

        }

        .like-dislike-reply-bar div {
            height:30px;
            cursor: pointer;
        }

        .like-dislike-reply-bar div:hover {
            opacity:0.5;
            background-color: rgb(105, 105, 105);
        }

        .reply-section {
            display:flex;
            gap:2vw;
        
        }

        .replies-container {
            margin-top: 2vh;
            display:flex;
            flex-direction: row;
            gap:1vw;

            .reply {
                .reply-content {
                    display:flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap:1vh;
                    background-color: rgb(105, 105, 105);
                    border-radius: 10px;
                    padding:10px;
                }

                .like-ts-container {
                    display:flex;
                    justify-content: space-between;
                }
            }

            
        }
    }

    .delete-button {
        background-color: red;
    }

    .edit-button {
        background-color: rgb(95, 194, 161);
    }

    button {
        color:white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }

}