.header-container {
    top:0;
    display:flex;
    height:6vh;
    background-color: #282b2b;
    color: white;
    align-items: center;
    justify-content: center;
    position:sticky;
    z-index: 1;

    .header-navlinks {
        display: flex;
        gap:15vw;
        align-items: center;
        justify-content: center;
    }

    .header-navlinks a:hover {
        color:rgb(95, 194, 161);
    }
    
    a {
        text-decoration: none;
        color:white;
    }

    
}